/* 
#body{
    background-image: url(https://previews.123rf.com/images/bowlingman/bowlingman1509/bowlingman150900163/45682754-retro-vintage-bicycle-old-and-blue-wall-background-design.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */